<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-icon size="large" (click)="onClose()" name="close-outline"></ion-icon>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>

    </ion-toolbar>
  </ion-header>
  <form [formGroup]="generateFormGroup" (keyup)="markUnsavedChanges()" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-select cancel-text="Anuluj" label-placement="floating" label="Odwzorowywana liga"
                    formControlName="leagueId">
          @for (league of leagues; track $index) {
            <ion-select-option [value]="league.id">{{ league.name }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      @if (formHasError('leagueId', 'required')) {
        <ion-item lines="none">
          <ion-label class="error-label">
            Odwzorowywana liga jest wymagana
          </ion-label>
        </ion-item>
      }
      <ion-item>
        <ion-select cancel-text="Anuluj" label-placement="floating" label="Sezon"
                    formControlName="season">
          @for (season of seasons; track $index) {
            <ion-select-option [value]="season">{{ season }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      @if (formHasError('leagueId', 'required')) {
        <ion-item lines="none">
          <ion-label class="error-label">
            Odwzorowywana liga jest wymagana
          </ion-label>
        </ion-item>
      }
      <ion-item lines="none">
        <ion-toggle checked="true">Wygeneruj zawodników automatycznie</ion-toggle>
      </ion-item>
    </ion-list>
    <ion-row class="ion-padding">
      <ion-col size-lg="3" offset-lg="3">
        <ion-button type="submit" color="primary" expand="block" [disabled]="!generateFormGroup.valid">
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Zapisz
        </ion-button>
      </ion-col>
      <ion-col size-lg="3">
        <ion-button color="medium" expand="block" fill="outline" (click)="onClose()">
          Anuluj
        </ion-button>
      </ion-col>
    </ion-row>
  </form>


</ion-content>
