<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-icon size="large" (click)="onClose()" name="close-outline"></ion-icon>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>

    </ion-toolbar>
  </ion-header>
  <form  (keyup)="markUnsavedChanges()" (ngSubmit)="onCommentAdded()">
    <ion-list>
      <ion-item lines="none">
        <ion-text color="primary">
          <h3>Oceń sędziego: {{match.referee.firstName}} {{match.referee.lastName}}</h3>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text>
          <h5>Podczas meczu: {{match.homeTeam.teamName}} - {{match.awayTeam.teamName}} ({{match.homeTeamScore}} - {{match.awayTeamScore}})</h5>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-textarea [formControl]="commentControl" labelPlacement="floating">
          <div slot="label">Komentarz <ion-text>*</ion-text></div>
        </ion-textarea>
        @if (!commentControl.value && commentControl.touched) {
          <ion-item lines="none">
            <ion-label class="error-label">
              Komentarz jest wymagany
            </ion-label>
          </ion-item>
        }
      </ion-item>
    </ion-list>
    <ion-row class="ion-padding">
      <ion-col size-lg="3" offset-lg="3">
        <ion-button type="submit" color="primary" expand="block" [disabled]="!commentControl.value">
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Potwierdź
        </ion-button>
      </ion-col>
      <ion-col size-lg="3">
        <ion-button color="medium" expand="block" fill="outline" (click)="onClose()">
          Anuluj
        </ion-button>
      </ion-col>
    </ion-row>
  </form>


</ion-content>
