<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item (click)="goTo('home')">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Start</ion-label>
      </ion-item>
      @if (user && user?.role !== 'arbiter') {
        <ion-item (click)="goTo('teams')">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          <ion-label>Zespoły</ion-label>
        </ion-item>
        <ion-item (click)="goTo('players')">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Zawodnicy</ion-label>
        </ion-item>
      }
      <ion-item (click)="goTo('leagues')">
        <ion-icon name="server-outline" slot="start"></ion-icon>
        <ion-label>Zarządzanie ligami</ion-label>
      </ion-item>
      @if (leagues && leagues.length > 0) {
        <ion-accordion-group style="cursor: pointer">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-icon name="basketball-outline" slot="start"></ion-icon>
              <ion-label>Aktywne ligi</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              @for (league of leagues; track $index) {
                <ion-item (click)="goToLeaguePanel(league)">
                  <ion-label>
                    {{league.name}}
                  </ion-label>
                </ion-item>
              }
            </div>
          </ion-accordion>
        </ion-accordion-group>
      }
      @if (user && user?.role === 'admin') {
        <ion-item (click)="goTo('referees')">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Sędziowie</ion-label>
        </ion-item>
      }
      @if (user) {
        <ion-item (click)="goTo('account')">
          <ion-icon name="key-outline" slot="start"></ion-icon>
          <ion-label>Konto</ion-label>
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Wyloguj się</ion-label>
        </ion-item>
      } @else {
        <ion-item (click)="goTo('login')">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          <ion-label>Zaloguj się</ion-label>
        </ion-item>
      }
    </ion-list>
  </ion-content>
</ion-menu>
