// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #255F9F;
  --ion-color-secondary: #7768ae;
  --ion-color-tertiary: #7768ae;
}




