// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #c28563;
  --ion-color-secondary: #EEE4B1;
  --ion-color-tertiary: #7768ae;
}




