<app-top-toolbar title="Login"></app-top-toolbar>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item class="ion-align-self-center" lines="none">
        <ion-text color="secondary">
          <h3>Login or activate your account</h3>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card class="ion-text-center" color="secondary" style="width: 50%; margin: 0 auto;">
        <ion-card-header>
          <ion-card-title>{{getCardTitle()}}</ion-card-title>
          <ion-card-subtitle>
            <ion-text style="cursor: pointer;" (click)="toggleFormType()">{{getCardSubtitle()}}
            </ion-text>
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <form *ngIf="loginFormPresented" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <ion-item>
              <ion-label position="stacked">Your email</ion-label>
              <ion-input placeholder="Enter your email here..." type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="formHasError(loginForm, 'email', 'required')">
              <ion-label class="error-label">
                Email is required
              </ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="formHasError(loginForm, 'email', 'email')">
              <ion-label class="error-label">
                Enter a valid email address
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Your password</ion-label>
              <ion-input placeholder="Enter your password here..." type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="formHasError(loginForm, 'password', 'required')">
              <ion-label class="error-label">
                Password is required
              </ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="formHasError(loginForm, 'password', 'minlength')">
              <ion-label class="error-label">
                Password needs to be at least 8 characters long
              </ion-label>
            </ion-item>
            <ion-button [disabled]="!loginForm.valid" type="submit">Login</ion-button>
          </form>
          <form *ngIf="!loginFormPresented" [formGroup]="activationForm" (ngSubmit)="onSubmitActivation()">
            <ion-item>
              <ion-label position="stacked">Your activation code</ion-label>
              <ion-input placeholder="Enter your code here..." type="text" formControlName="code"></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="formHasError(activationForm, 'code', 'required')">
              <ion-label class="error-label">
                Activation code is required
              </ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="formHasError(activationForm, 'code', 'minlength')">
              <ion-label class="error-label">
                Activation code should be 8 characters long
              </ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="formHasError(activationForm, 'code', 'maxlength')">
              <ion-label class="error-label">
                Activation code should be 8 characters long
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Your password</ion-label>
              <ion-input placeholder="Enter your password here..." type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-button [disabled]="!activationForm.valid" type="submit">Activate</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
