<app-top-toolbar title="Login"></app-top-toolbar>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item class="ion-align-self-center" lines="none">
        <ion-text color="secondary">
          <h3>Zaloguj się lub aktywuj swoje konto</h3>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card class="ion-text-center" color="secondary" style="width: 50%; margin: 0 auto;">
        <ion-card-header>
          <ion-card-title>{{getCardTitle()}}</ion-card-title>
          <ion-card-subtitle>
            <ion-text style="cursor: pointer;" (click)="toggleFormType()">{{getCardSubtitle()}}
            </ion-text>
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          @if (loginFormPresented) {
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input placeholder="Tutaj wprowadź email..." type="email" formControlName="email"></ion-input>
              </ion-item>
              @if (formControlHasError(loginForm, 'email', 'required')) {
                <ion-item lines="none">
                  <ion-label class="error-label">
                    Email jest wymagany
                  </ion-label>
                </ion-item>
              }
              @if (formControlHasError(loginForm, 'email', 'email')) {
                <ion-item lines="none">
                  <ion-label class="error-label">
                    Wprowadź poprawny adres email
                  </ion-label>
                </ion-item>
              }
              <ion-item>
                <ion-label position="stacked">Hasło</ion-label>
                <ion-input placeholder="Tutaj wprowadź hasło..." type="password" formControlName="password"></ion-input>
              </ion-item>
              @if (formControlHasError(loginForm, 'password', 'required')) {
                <ion-item lines="none">
                  <ion-label class="error-label">
                    Hasło jest wymagane
                  </ion-label>
                </ion-item>
              }
              @if (formControlHasError(loginForm, 'password', 'minlength')) {
                <ion-item lines="none">
                  <ion-label class="error-label">
                    Hasło musi mieć minimum 8 znaków
                  </ion-label>
                </ion-item>
              }
              <ion-button [disabled]="!loginForm.valid" type="submit">Zaloguj się</ion-button>
            </form>
          }
          @if (!loginFormPresented) {
            <form [formGroup]="activationForm" (ngSubmit)="onActivate()">
              <ion-item>
                <ion-label position="stacked">Kod aktywacyjny</ion-label>
                <ion-input placeholder="Tutaj wprowadź kod aktywacyjny..." type="text" formControlName="code"></ion-input>
              </ion-item>
              @if (formControlHasError(activationForm, 'code', 'required')) {
                <ion-item lines="none">
                  <ion-label class="error-label">
                    Kod aktywacyjny jest wymagany
                  </ion-label>
                </ion-item>
              }
              @if (formControlHasError(activationForm, 'code', 'minlength')) {
                <ion-item lines="none">
                  <ion-label class="error-label">
                    Kod aktywacyjny powinien mieć 6 znaków
                  </ion-label>
                </ion-item>
              }
              @if (formControlHasError(activationForm, 'code', 'maxlength')) {
                <ion-item lines="none">
                  <ion-label class="error-label">
                    Kod aktywacyjny powinien mieć 6 znaków
                  </ion-label>
                </ion-item>
              }
              <ion-item>
                <ion-label position="stacked">Hasło</ion-label>
                <ion-input placeholder="Tutaj wprowadź hasło..." type="password" formControlName="password"></ion-input>
              </ion-item>
              @if (formControlHasError(activationForm, 'password', 'required')) {
                <ion-item lines="none">
                  <ion-label class="error-label">
                    Hasło jest wymagane
                  </ion-label>
                </ion-item>
              }
              @if (formControlHasError(activationForm, 'password', 'minlength')) {
                <ion-item lines="none">
                  <ion-label class="error-label">
                    Hasło musi mieć minimum 8 znaków
                  </ion-label>
                </ion-item>
              }
              <ion-item>
                <ion-label position="stacked">Potwierdź hasło</ion-label>
                <ion-input placeholder="Tutaj potwierdź hasło..." type="password" formControlName="passwordConfirm"></ion-input>
              </ion-item>
              @if (formControlHasError(activationForm, 'password', 'required')) {
                <ion-item lines="none">
                  <ion-label class="error-label">
                    Potwierdzenie hasła jest wymagane
                  </ion-label>
                </ion-item>
              }
              @if (activationForm.controls['passwordConfirm'].touched && formHasError(activationForm, 'passwordMismatch')) {
                <ion-item lines="none">
                  <ion-label class="error-label">
                    Hasła nie pasują do siebie
                  </ion-label>
                </ion-item>
              }
              <ion-button [disabled]="!activationForm.valid" type="submit">Aktywuj konto</ion-button>
            </form>
          }
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
