<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{title}}
    </ion-title>

    <ion-buttons slot="end">
      @if (user) {
        <ion-button (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          @if (user.firstName && user.lastName) {
            <ion-label >Wyloguj ({{user?.firstName}} {{user?.lastName}})</ion-label>
          }
          @if (user.email && (!user.firstName && !user.lastName)) {
            <ion-label >Wyloguj ({{user?.email}})</ion-label>
          }
        </ion-button>
      }
      @if (!user) {
        <ion-button (click)="goTo('login')">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          <ion-label >Zaloguj się</ion-label>
        </ion-button>
      }
    </ion-buttons>

  </ion-toolbar>
  <!--  <ion-progress-bar *ngIf="isBusy" type="indeterminate" color="primary"></ion-progress-bar>-->
  <!--  <ion-progress-bar *ngIf="!isConnected" type="indeterminate" color="danger"></ion-progress-bar>-->
</ion-header>
