<div style="width: 50%; margin: auto">
  <ion-text color="secondary">
    @if (mode === 'EDIT') {
      <h3>Dane zespołu {{team.teamName}}</h3>
    } @else {
      <h3>Wprowadź dane nowego zespołu</h3>
    }
  </ion-text>
<form [formGroup]="teamFormGroup" (keyup)="markUnsavedChanges()" (ngSubmit)="onTeamEdit()">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nazwa zespołu</ion-label>
      <ion-input formControlName="teamName"></ion-input>
    </ion-item>
    @if (formHasError('teamName', 'required')) {
      <ion-item lines="none">
        <ion-label class="error-label">
          Nazwa zespołu jest wymagana
        </ion-label>
      </ion-item>
    }
    <ion-item>
      <ion-select (ionChange)="onSelectedPlayersChange($event)" [multiple]="true" cancel-text="Anuluj" label-placement="floating" label="Zawodnicy" formControlName="players">
        @for (player of team.players; track $index) {
          <ion-select-option [value]="player">{{player.firstName}} {{player.lastName}}</ion-select-option>
        }
        @for (player of availablePlayers; track $index) {
          @if (!team.players?.includes(player)) {
            <ion-select-option [value]="player">{{player.firstName}} {{player.lastName}}</ion-select-option>
          }
        }
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        Utwórz nowego zawodnika i dodaj do zespołu
      </ion-label>
      <ion-button (click)="onCreatePlayer()">Utwórz</ion-button>
    </ion-item>
    <ion-item>
      <ion-select cancel-text="Anuluj" label-placement="floating" label="Kapitan zespołu" formControlName="captain">
        @for (player of teamFormGroup.controls['players'].value; track $index) {
          <ion-select-option [value]="player">{{player.firstName}} {{player.lastName}}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    @if (formHasError('captain', 'required')) {
      <ion-item lines="none">
        <ion-label class="error-label">
          Kapitan jest wymagany
        </ion-label>
      </ion-item>
    }
  </ion-list>

  @if (teamFormGroup.controls['players'].value && teamFormGroup.controls['players'].value.length > 0) {
    <ion-item lines="none">
      <ion-text color="primary">
        <h3>Podgląd zawodników</h3>
      </ion-text>
    </ion-item>
    <ion-list>
      @for (player of teamFormGroup.controls['players'].value; track $index) {
        <ion-item lines="none">
          <ion-text color="secondary">
            <h5>Zawodnik nr {{$index + 1}}</h5>
          </ion-text>
          <ion-button style="margin-top: 10px;" slot="end" (click)="onPlayerEdit(player)">Edytuj</ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Imię i nazwisko</ion-label>
          @if (player === teamFormGroup.controls['captain'].value) {
            <ion-input [value]="player.firstName.concat(' ', player.lastName, ' (KAPITAN) ')" readonly="true"></ion-input>
          } @else {
            <ion-input [value]="player.firstName.concat(' ', player.lastName)" readonly="true"></ion-input>
          }

        </ion-item>
        <ion-item>
          <ion-label position="stacked">Numer na boisku</ion-label>
          <ion-input [value]="player.pitchNumber" readonly="true"></ion-input>
        </ion-item>
        @if (player.captain && player.email) {
          <ion-item>
            <ion-label position="stacked">Adres email</ion-label>
            <ion-input [value]="player.email" readonly="true"></ion-input>
          </ion-item>
        }
      }
    </ion-list>
  } @else {
    <ion-item lines="none">
      <ion-text color="primary">
        <h3>Zespół jeszcze nie posiada zawodników</h3>
      </ion-text>
    </ion-item>
  }

  <ion-row class="ion-padding">
    <ion-col size-lg="3" offset-lg="3">
      <ion-button type="submit" color="primary" expand="block" [disabled]="!teamFormGroup.valid">
        <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
        Zapisz
      </ion-button>
    </ion-col>
    <ion-col size-lg="3">
      <ion-button color="medium" expand="block" fill="outline" (click)="onCancel()">
        Anuluj
      </ion-button>
    </ion-col>
  </ion-row>
</form>
</div>
