<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-icon size="large" (click)="onClose()" name="close-outline"></ion-icon>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="scheduleFormGroup" (keyup)="markUnsavedChanges()" (ngSubmit)="onLeagueScheduleSubmit()">
    <ion-list>
      <ion-text color="primary">
        <h3 style="margin-left: 16px">Od kiedy generować harmonogram rozgrywek?</h3>
      </ion-text>
      <ion-text color="secondary">
        @if (!scheduleFormGroup.controls['startDate'].value) {
          <h5 style="margin-left: 16px">Wybierz datę rozpoczęcia harmonogramu ligi</h5>
        } @else {
          <h5 style="margin-left: 16px">Wybrana data
            rozpoczęcia: {{ scheduleFormGroup.controls['startDate'].value | date: 'YYYY-MM-dd' }}</h5>
        }
      </ion-text>

      <ion-item>
        <ion-datetime (ionChange)="onStartDateChanged($event)" presentation="date" [firstDayOfWeek]="1" formControlName="startDate" locale="pl-PL"></ion-datetime>
      </ion-item>
      @if (formHasError('startDate', 'required')) {
        <ion-item lines="none">
          <ion-label class="error-label">
            Data rozpoczęcia jest wymagana
          </ion-label>
        </ion-item>
      }
      <ion-text color="primary">
        <h3 style="margin-left: 16px">Którego dnia będą rozgrywane mecze?</h3>
      </ion-text>
      <ion-item>
        <ion-select label="Dzień rozgrywek" formControlName="defaultDay">
          @for (weekday of weekdays; track $index) {
            <ion-select-option [value]="getDayOfWeek(weekday)" >{{weekday}}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      @if (formHasError('defaultDay', 'required')) {
      <ion-item lines="none">
        <ion-label class="error-label">
          Dzień rozgrywek jest wymagany
        </ion-label>
      </ion-item>
      }
      <ion-item lines="none">
        <ion-text color="primary">
          <h3>Godzina spotkań</h3>
        </ion-text>
      </ion-item>
      <p style="margin-left: 16px">Podaj domyślną godzinę generowanych spotkań</p>
      <ion-item>
        <ion-label position="floating">Domyślna godzina rozpoczęcia spotkań <small>*</small></ion-label>
        <ion-input formControlName="defaultHour"></ion-input>
      </ion-item>
      @if (formHasError('defaultHour', 'hour')) {
        <ion-item lines="none">
          <ion-label class="error-label">
            Godzina musi być podana w formacie HH:mm (np. 20:00)
          </ion-label>
        </ion-item>
      } @else if (formHasError('defaultHour', 'required')) {
        <ion-item lines="none">
          <ion-label class="error-label">
            Godzina jest wymagana
          </ion-label>
        </ion-item>
      }
    </ion-list>
    <ion-row class="ion-padding">
      <ion-col size-lg="3" offset-lg="3">
        <ion-button type="submit" color="primary" expand="block" [disabled]="!scheduleFormGroup.valid">
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Generuj
        </ion-button>
      </ion-col>
      <ion-col size-lg="3">
        <ion-button color="medium" expand="block" fill="outline" (click)="onClose()">
          Anuluj
        </ion-button>
      </ion-col>
    </ion-row>
  </form>


</ion-content>
